<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Визуализатор спецкурсов</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="assets/styles/roadmap.css" rel="stylesheet">
    <link href="assets/styles/styles.css" rel="stylesheet">
    <link rel="icon" href="assets/images/logo.png">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89206971, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/89206971" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <header class="wrapper header-container">
        <a href="index.html" class="header-logo-link">
            <img class="header-logo" src="assets/images/logo.png" alt="Логотип ФИИТа">
        </a>
        <div class="header-text">
            <p class="header-title">Визуализатор спецкурсов для ФИИТ</p>
            <div class="header-tab-group">
                <a href="index.html" class="header-tab-link tab-chosen">
                    Подборка курсов от преподавателей
                </a>
                <a href="/own_path.html" class="header-tab-link header-tab-text">
                    Составить свой путь
                    <img src="assets/images/right-arrow.svg" alt="right-arrow" class="header-tab-right-arrow">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="wrapper blocks-container">
            {{#each roadmaps}}
                <a href="{{href}}.html" class="block block-link">
                    <p class="block-title">{{title}}</p>
                    <p class="block-description">{{description}}</p>
                </a>
            {{/each}}
        </div>
    </main>
    <footer class="footer-content">
        <a href="https://fiit-urfu.ru/" class="footer-content-link">
            О ФИИТ
        </a>
        <a href="#!" class="footer-content-link">
            Связаться с авторами
        </a>
        <a href="https://github.com/denisSurkov/fiit-courses-vizualizator" class="footer-content-link">
            GitHub
        </a>
        <img src="assets/images/fotter.svg" alt="Авторская загагулина для ФИИТа" class="footer-image">
    </footer>
</body>

</html>
