<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Свой путь</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/personal_path.css">
    <link rel="stylesheet" href="./assets/styles/styles.css">
    <link rel="icon" href="assets/images/logo.png">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89206971, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/89206971" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script type="text/javascript">
        globalThis.COURSES = {{{coursesJson}}};
        globalThis.SEMESTERS = {{{semestersJson}}};
    </{{!}}script>
</head>
<body id="personal-path-body">
    <header class="wrapper header-container">
        <div class="header-logo">
            <a href="index.html" class="header-logo-link">
                <img class="header-logo" src="assets/images/logo.png" alt="Логотип ФИИТа">
            </a>
        </div>
        <div class="header-text">
            <p class="header-title">Собственный путь</p>
            <a href="index.html">
                <div class="header-back">
                    <img src="assets/images/back-arrow.svg" alt="back-arrow" class="header-back-arrow">
                    <p class="header-back-button">Назад</p>
                </div>
            </a>
        </div>
    </header>
    <main id="personal-path-main">
        <div id="fall-sem-container" class="sem-container">
            <div class="title">Осенний семестр</div>
        </div>
        <div id="course-number-container">
            <span>3 курс</span>
            <span>4 курс</span>
        </div>
        <div id="spring-sem-container" class="sem-container">
            <div class="title">Весенний семестр</div>
        </div>
    </main>
    <footer class="footer-content">
        <a href="https://fiit-urfu.ru/" class="footer-content-link">
            О ФИИТ
        </a>
        <a href="#!" class="footer-content-link">
            Связаться с авторами
        </a>
        <a href="https://github.com/denisSurkov/fiit-courses-vizualizator" class="footer-content-link">
            GitHub
        </a>
        <img src="assets/images/fotter.svg" alt="Авторская загагулина для ФИИТа" class="footer-image">
    </footer>
    <div>
        <div class="description-container">
            {{#each coursesInfo}}
            <div class="description-section" id="{{id}}">
                <div class="section">
                    <p class="title">{{title}}</p>
                    <p class="description">{{description}}</p>
                </div>
                {{#each other}}
                <div class="section">
                    <p class="section-title">{{title}}</p>
                    <p class="description">{{description}}</p>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
    <script src="./scripts/personal_path/main.js" type="module"></script>
</body>
</html>