<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="icon" href="assets/images/logo.png">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89206971, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/89206971" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>

<body>
    <header class="wrapper header-container">
            <div class="header-logo">
                <a href="index.html" class="header-logo-link">
                    <img class="fiit-logo" src="assets/images/logo.png" alt="Логотип ФИИТа">
                </a>
            </div>
            <div class="header-text">
                <p class="header-title">{{title}}</p>
                <p class="header-description">{{description}}</p>
                <a href="index.html">
                    <div class="header-back">
                        <img src="assets/images/back-arrow.svg" alt="back-arrow" class="header-back-arrow">
                        <p class="header-back-button">Назад</p>
                    </div>
                </a>
            </div>
    </header>
    <main>
        <div class="roadmap">{{{roadmap}}}</div>
        <div class="description-container">
            {{#each coursesInfo}}
            <div class="description-section" id="{{id}}">
                <div class="section">
                    <p class="title">{{title}}</p>
                    <p class="description">{{description}}</p>
                </div>
                {{#each other}}
                <div class="section">
                    <p class="section-title">{{title}}</p>
                    <p class="description">{{description}}</p>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </main>
    <footer class="footer-content">
        <a href="https://fiit-urfu.ru/" class="footer-content-link">
            О ФИИТ
        </a>
        <a href="#!" class="footer-content-link">
            Связаться с авторами
        </a>
        <a href="https://github.com/denisSurkov/fiit-courses-vizualizator" class="footer-content-link">
            GitHub
        </a>
        <img src="assets/images/fotter.svg" alt="footer-fiit" class="footer-image">
    </footer>
    <script src="./scripts/description.js"></script>
</body>
</html>
