#personal-path-body .header-container {
    justify-content: center;
}

#personal-path-body {
    height: auto;
}

#personal-path-body #personal-path-main {
    color: rgb(21, 96, 128);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
}

#personal-path-body .semester-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}

#personal-path-body .semester-root.free-zone-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 47%;
    height: 100%;
    top: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
    border-color: rgb(26, 179, 213);
}

#personal-path-body .semester-root.free-zone-root .courses-container {
    margin-bottom: 10px;
}

#personal-path-body #course-number-container {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 120%;
}

@media (max-width: 1145px) {
    #personal-path-body #course-number-container * {
        writing-mode: tb;
        text-orientation: upright;
        width: 20px;
    }
}

#personal-path-body .course-preview-root {
    position: relative;
    width: 80%;
    height: 30px;
    background-color: rgb(26, 179, 213);
    border-radius: 10px;
    color: rgb(245, 245, 245);
}

#personal-path-body .course-preview-root .title-container {
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: inherit;
}

#personal-path-body .course-preview-root .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

#personal-path-body .course-preview-root .zed-counter {
    position: absolute;
    bottom: -10px;
    right: -10px;
    background-color: rgb(254, 37, 167);
    width: 24px;
    height: 24px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#personal-path-body .semester-root {
    margin-bottom: 25px;
    padding: 10px;
}

#personal-path-body .close-btn {
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
    font-size: 17px;
    border: solid rgb(26, 179, 213) 2px;
    color: rgb(26, 179, 213);
    opacity: 0.2;
    margin-bottom: 10px;
}

#personal-path-body .close-btn:hover {
    transition: 0.5s;
    opacity: 0.6;
}

#personal-path-body .filter-btn {
    background-color: rgb(254, 37, 167);
    color: rgb(245, 245, 245);
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
}

#personal-path-body .filter-btn:hover {
    transition: 0.5s;
    opacity: 1;
}

#personal-path-body .semester-root {
    height: 40%;
    background-color: inherit;
    border: solid rgb(21, 96, 128) 3px;
    border-radius: 10px;
}

#personal-path-body .semester-root .courses-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: solid rgb(21, 96, 128) 3px;*/
    cursor: pointer;
    height: 70%;
    width: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(21, 96, 128, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar {
    background-color: rgba(21, 96, 128, 0.5);
    border-radius: 10px;
}

#personal-path-body .semester-root > .zed-counter {
    position: absolute;
    right: -15px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(254, 37, 167);
    border-radius: 30px;
}

#personal-path-body .semester-root > .zed-counter > .zed-counter-text {
    color: rgb(245, 245, 245);
}

#personal-path-body .semester-root {
    flex-shrink: 0;
    position: relative;
}

#personal-path-body .sem-container {
    display: flex;
    flex-direction: column;
    width: 33%;
}

#personal-path-body .sem-container > .title {
    text-align: center;
    padding: 10px;
    font-size: 120%;
}
